<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<!-- Deployment descriptor used by Tomcat for the EUNIS project -->
<!-- (c) 2002 EEA - European Environment Agency. All right reserved. -->
<web-app>
  <!-- Application name -->
  <display-name>EUNIS Database 2</display-name>

  <!-- Short description -->
  <description>EUNIS Database 2</description>

  <!--
    Context initialization parameters which can be retrieved from servlets or JSP by calling
    getServletConfig().getServletContext().getInitParameter("param-name")
    or
    application.getInitParameter("param-name");
 -->
  <context-param>
    <param-name>DOMAIN_NAME</param-name>
    <param-value>http://localhost:8080/eunis</param-value>
    <description>Domain where application is installed</description>
  </context-param>

  <context-param>
    <param-name>DIGIR_URL</param-name>
    <param-value>http://ns2.finsiel.ro:8081/digir/</param-value>
    <description>DiGIR provider</description>
  </context-param>

  <context-param>
    <param-name>DIGIR_SERVICE</param-name>
    <param-value>http://ns2.finsiel.ro:8081/digir/DiGIR.php</param-value>
    <description>XML for the DiGIR service</description>
  </context-param>

  <context-param>
    <param-name>TOMCAT_HOME</param-name>
    <param-value>c:\java\tomcat-5.5.9</param-value>
    <description>Tomcat installation directory</description>
  </context-param>

  <!-- Static part of the page title (JSPs)-->
  <context-param>
    <param-name>PAGE_TITLE</param-name>
    <param-value>EUNIS Database 2 - EC CHM - </param-value>
    <description>Static part of the pages title</description>
  </context-param>

  <!-- Feedback e-mail address -->
  <context-param>
    <param-name>EMAIL_FEEDBACK</param-name>
    <param-value>c.romanescu@finsiel.ro</param-value>
    <description>Mail address where feedback is sent</description>
  </context-param>

  <context-param>
    <param-name>SMTP_SERVER</param-name>
    <param-value>finfw.finronet.ro</param-value>
    <description>Relay SMTP server</description>
  </context-param>

  <context-param>
    <param-name>SMTP_USERNAME</param-name>
    <param-value></param-value>
    <description>SMTP authentication ( if applicable )</description>
  </context-param>

  <context-param>
    <param-name>SMTP_PASSWORD</param-name>
    <param-value></param-value>
    <description>SMTP password ( if applicable )</description>
  </context-param>

  <context-param>
    <param-name>SMTP_SENDER</param-name>
    <param-value>eunis@finsiel.ro</param-value>
    <description>E-mail address for account sending feedback(FROM field on the e-mail message)</description>
  </context-param>

  <!-- Here temp files are stored -->
  <context-param>
    <param-name>TEMP_DIR</param-name>
    <param-value>webapps/eunis/temp/</param-value>
    <description>Platform dependent variable which specifies where the temporary files should be created</description>
  </context-param>

  <!-- Upload directory for reports (related reports) -->
  <context-param>
    <param-name>UPLOAD_DIR_FILES</param-name>
    <param-value>webapps/eunis/upload/</param-value>
    <description>Upload path for related reports</description>
  </context-param>

  <!-- Upload directory for pictures (species) -->
  <context-param>
    <param-name>UPLOAD_DIR_PICTURES_SPECIES</param-name>
    <param-value>webapps/eunis/images/species/</param-value>
    <description>Upload path for images with species</description>
  </context-param>

  <!-- Upload directory for pictures (habitats) -->
  <context-param>
    <param-name>UPLOAD_DIR_PICTURES_HABITATS</param-name>
    <param-value>webapps/eunis/images/habitats/</param-value>
    <description>Upload path for images with habitats</description>
  </context-param>

  <!-- Upload directory for pictures (sites) -->
  <context-param>
    <param-name>UPLOAD_DIR_PICTURES_SITES</param-name>
    <param-value>webapps/eunis/images/sites/</param-value>
    <description>Upload path for images with sites</description>
  </context-param>

  <!-- Maximum allowed size for uploaded files (general setting for all files) -->
  <context-param>
    <param-name>UPLOAD_FILE_MAX_SIZE</param-name>
    <param-value>10485760</param-value>
    <description>Maximum allowed size in bytes for uploaded files on the server (all files)</description>
  </context-param>

  <!-- Maximum allowed sites displayed within GIS tool -->
  <context-param>
    <param-name>MAX_SITES_PER_MAP</param-name>
    <param-value>2000</param-value>
    <description>Maximum number of sites displayable within GIS tool</description>
  </context-param>

  <!-- Maximum number of results displayed within a result page -->
  <context-param>
    <param-name>MAX_RESULTS_PER_PAGE</param-name>
    <param-value>300</param-value>
    <description>Maximum number of results displayed within a results page</description>
  </context-param>

  <!-- Maximum number of results displayed within a result page -->
  <context-param>
    <param-name>TSV_REPORT_RESULTS_LIMIT_WARNING</param-name>
    <param-value>4000</param-value>
    <description>
      Upper limit for the number of search results.
      Reaching this limit a warning is displayed to the user that report generation might take a very long time.
      It might take as long as an hour depending on server load, number of results, complexity of the query.
      Usually this operation slows or even blocks MySQL database server and impacts other users as well.
    </description>
  </context-param>

  <!-- Last modification date -->
  <context-param>
    <param-name>LAST_UPDATE</param-name>
    <param-value>11 October 2005</param-value>
    <description>Date of last modification for the web site</description>
  </context-param>

  <!-- Application version -->
  <context-param>
    <param-name>APP_VERSION</param-name>
    <param-value>2.0</param-value>
    <description>Current version of the application</description>
  </context-param>

  <!-- JDBC Direct connection characteristics -->
  <!-- JDBC driver-->
  <context-param>
    <param-name>JDBC_DRV</param-name>
    <param-value>org.gjt.mm.mysql.Driver</param-value>
    <description>JDBC Driver used for direct connections to database server</description>
  </context-param>

  <!-- JDBC URL -->
  <context-param>
    <param-name>JDBC_URL</param-name>
    <param-value>jdbc:mysql://192.168.1.41/eunis2?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf8</param-value>
    <description>JDBC URL to database</description>
  </context-param>

  <!-- JDBC username -->
  <context-param>
    <param-name>JDBC_USR</param-name>
    <param-value>charlie</param-value>
    <description>JDBC user</description>
  </context-param>

  <!-- JDBC password -->
  <context-param>
    <param-name>JDBC_PWD</param-name>
    <param-value>letmein</param-value>
    <description>JDBC password for JDBC_USR</description>
  </context-param>

  <context-param>
    <param-name>EEA_MAP_SERVER</param-name>
    <param-value>http://map.eea.eu.int</param-value>
    <description>Address of the EEA map server</description>
  </context-param>

  <context-param>
    <param-name>EEA_MAP_SERVER_EXTENSION</param-name>
    <param-value>jpg</param-value>
    <description>Image file extension for images generated by EEA map server</description>
  </context-param>

<!--
  <context-param>
    <param-name>PROXY_URL</param-name>
    <param-value>192.168.1.245</param-value>
    <description>Organization proxy server address</description>
  </context-param>

  <context-param>
    <param-name>PROXY_PORT</param-name>
    <param-value>3128</param-value>
    <description>Organization proxy server port number</description>
  </context-param>
-->

  <context-param>
    <param-name>SITES_PER_MAP</param-name>
    <param-value>60</param-value>
    <description>Number of sites displayed for maps generated from EEA server</description>
  </context-param>

  <context-param>
    <param-name>SQL_LIMIT</param-name>
    <param-value>500000</param-value>
    <description>Limit of rows returned in advanced and combined search</description>
  </context-param>

  <context-param>
    <param-name>COUNTRIES_PER_MAP</param-name>
    <param-value>120</param-value>
    <description>Number of countries displayed within maps retrieved from EEA map server</description>
  </context-param>

  <!-- Listener registered to cleanup the temporary files during a session, when it expires -->
  <listener>
    <listener-class>ro.finsiel.eunis.session.CleanupSessionListener</listener-class>
  </listener>

  <!-- Servlet declarations, configurations & mappings to URLs -->
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>ro.finsiel.eunis.admin.EUNISUploadServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>species</servlet-name>
    <jsp-file>/species.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>sites</servlet-name>
    <jsp-file>/sites.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>habitats</servlet-name>
    <jsp-file>/habitats.jsp</jsp-file>
  </servlet>

  <!-- Map servlet to URL -->
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/fileupload</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>species</servlet-name>
    <url-pattern>/species</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>sites</servlet-name>
    <url-pattern>/sites</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>habitats</servlet-name>
    <url-pattern>/habitats</url-pattern>
  </servlet-mapping>

  <!-- Session expiration in minutes -->
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>

  <!-- List of known index pages -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!--Error handling page-->
  <error-page>
    <error-code>403</error-code>
    <location>/403.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
</web-app>