/*
dark    : #006CAD
medium  : #6DABD0
light   : #B8D6E8
*/
/* */


.naturepic-plus {
	text-indent: 0;
}

.naturepic-title, .naturepic-nr {
	font-weight: bold;
}

.naturepic-image {
	text-align: center;
	clear: both;
}

.naturepic-note {
	font-weight: normal;
}

.naturepic-source-copyright {
	text-align: right;
}

.naturepic-plus-container {
	padding: .5%;
	margin: 6px 0px 6px 0px;
	width:25%;
	max-width:300px;
}

.naturepic-plus {
	background-color: #fff;
	border: 1px solid #a9a9a9;
	margin: 0;
	padding: 4px;
}

.naturepic-right {
	float: right;
	margin-left:.5%; 
}
.naturepic-left {
	float: left;
	margin-right:.5%; 
}

.naturepic-plus .naturepic-image a {
	display: block;
	padding-bottom: 13px;
	background: transparent url('../images/magnify-clip.png') bottom right no-repeat;
}

.naturepic-plus .naturepic-image a:hover {
	border:none;
}
img.scaled {
	width: 100%;
	height: 100%;
}

.allow-naturepic {
	width:100%;
}

.naturepic-plus-container + .allow-naturepic {
	width:72%;
}

@media screen {
	html { background-color: white; }
	body .documentContent {
		font-size: 110% !important;
	}
	table {
		font-size: 1em !important;
	}
	body.popup {
		margin: 0.5em;
	}
}


.textVersion
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
/*
  color: #006CAD;
*/
}

.inputTextFieldCenter
{
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  text-align: center;
/*
  color: #006CAD;
  border: 1px solid #006CAD;
*/
  border: 1px solid;
}

.horizontal_line
{
  width: 100%;
  height: 2px;
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: black;
}

.grey_rectangle_bold
{
  background-color: #EEEEEE;
  font-weight: bold;
  width: 100%;
}

.grey_rectangle
{
  background-color: #EEEEEE;
  width: 100%;
}

.editContent
{
  border: 1px solid red;
}

/* Tabbed menus  */
#tabbedmenu
{
  float: left;
  width: 100%;
  border-bottom: thin solid #E3E2D3;
  font-size: x-small;
  line-height: normal;
}

#tabbedmenu ul
{
  margin: 0;
  padding: 2px 2px 0;
  list-style: none;
  list-style-image: none;
}

#tabbedmenu li
{
  float: left;
  background: url( "../images/mini/tableft.gif" ) no-repeat left top;
  margin: 0;
  padding: 0 0 0 9px;
  white-space: nowrap;
}

#tabbedmenu a
{
  display: block;
  text-decoration: none;
  font-weight: normal;
  color: black;
  background: url( "../images/mini/tabright.gif" ) no-repeat right top;
  padding: 5px 15px 2px 3px;
}

#tabbedmenu #currenttab
{
  background-image: url( "../images/mini/tableft_on.gif" );
}

#tabbedmenu #currenttab a
{
  text-decoration: none;
  font-weight: bold;
  background-image: url( "../images/mini/tabright_on.gif" );
  padding-bottom: 2px;
}

.indexQS
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  background-color: white;
/*  color: #006CAD; */
  border: 1px solid #000000;
}

#tab
{
  width: 100%;
  height: 300px;
  overflow: auto;
}

.brClear
{
  clear : both;
}

#overDiv
{
  z-index:1000;
  visibility: hidden;
  position: absolute;
}

.submit_buttons
{
  width : 100%;
  text-align : right;
}

.coordinates
{
  font-family : "Courier New", serif;
  font-size : small;
}

#header
{
  width : 100%;
  height : 60px;
  overflow:hidden;
  text-align : right;
  position:relative;
  margin:0; padding:0;
}

#header span
{
  width : 100%;
  height : 60px;
  display:block;
  position: absolute; left:0; top:0;
  margin:0; padding:0;
  background-image : url(../images/banner_blue.jpg);
  background-repeat: no-repeat;
  text-align : right;
}

.languageTextField
{
  font-family: arial, sans-serif;
  background-color: #FFFFFF;
  color: black;
  border: 1px solid black;
  position :relative;
  top : 38px;
}

.search_details
{
	font-family: Arial, Helvetica, sans-serif;
	clear: both;
	width: 100%;
	margin-top: 3px;
	margin-bottom: 7px;
	font-size: 95%;
}

.noshow
{
  display : none;
}

.boldUnderline
{
    font-weight :bold;
    color: #000000;
    text-decoration:underline;
}

.footerprint
{
  width : 100%;
  text-align : center;
}

.headerstaticprint
{
  width : 100%;
}

.headerdynamicprint
{
  width : 100%;
}

.headerlanguageprint
{
}

.headertextprint
{
}

fieldset.large
{
  padding: .5em;
  margin: .5em 0;
}

fieldset.large legend
{
  padding: .25em;
  font-weight: bold;
  background-color: #f0f0f0;
}

.error-msg {
	padding: 0.5em;
	margin: 0.5em 2em;
	font-weight: bold;
	font-size: 110%;
	border: 2px dashed red;
	color: #800000;
	background: white;
}

.system-msg {
	border: 2px dashed black;
	padding: 0.5em;
	margin: 0.5em 2em;
	font-weight: bold;
}

.advice-msg {
	padding: 0.2em;
	border: 1px solid #aaa;
	background-color: #f7f7f7;
}
.tip-msg, .note-msg,
.important-msg, .caution-msg, .warning-msg,
.error-msg {
	padding: 0.5em 0.5em 0.5em 32px;
	margin: 0.5em 2em;
	font-weight: bold;
}
.tip-msg strong, .note-msg strong,
.important-msg strong, .caution-msg strong, .warning-msg strong {
	font-weight: bold;
}

.tip-msg p, .note-msg p,
.important-msg p, .caution-msg p, .warning-msg p {
	font-weight: normal;
	margin: 0.2em 0;
	padding: 0.6em 2px 2px 0px;
}

.tip-msg {
	border: 1px solid #aaa;
	background: #f7f7f7 url('../images/icon_help_32.gif') 0px 50% no-repeat;
}

.note-msg {
	border: 1px dashed #957070;
	background: #cddaec url('../images/icon_info_32.gif') 0px 50% no-repeat;
}

.warning-msg {
	border: 2px dashed red;
	background: #FFFFFF url('../images/icon_warning_32.gif') 0px 50% no-repeat;
}

.redirection-msg {
	font-size: 85%;
}

#linkcollection+h2 {
	padding-top: 1em;
}
#linkcollection div {
	width: 23%;
	padding: 3pt;
	float:left;
}

table.fullwidth {
	width: 100%;
}
.listing thead th {
	padding: 0.2em;
}

.dt_sortable.sorted.order2 {
	background-image: url('../images/sort_ascending.gif');
	background-repeat: no-repeat;
	background-position: right;
}

.dt_sortable.sorted.order1 {
	background-image: url('../images/sort_descending.gif');
	background-repeat: no-repeat;
	background-position: right;
}

