
/* EUNIS home proposal 
    ticket #17701  */

.column-area {
width: 100%;
}

.main-boxes {
float:left;
/*position: absolute;
left:0;
top:0; */
padding-right: 0;
width: 40%;
}

.main-boxes .portlet {
width: 100%;
display: inline-block;
float: left;
padding-bottom: 5px;
}

.main-boxes .submitSearchButton {
float: right;
}

#promo-gallery-wrapper {
width: 51%;
margin-left: 466px;
}
