/* Base classes */

h2 {
    padding-top: 1em;
}

.large-text {
    font-size: 300%;
}

.medium-text {
    font-size: 200%;
}

.small-text {
    font-size: 150%;
}

.x-small-text {
    font-size: 120%;
}
.bold {
    font-weight: bold;
}

.bold p {
    font-size: 110%;
}

.text-right {
    text-align: right;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.contain-float {
    overflow: hidden;
}

.inline-block, #content .inline-block {
    display: inline-block;
}

.left-area, .right-area {
    width: 48%;
    float: left;
    margin: 0 0;
    padding: 0 1em 1em 0;
}

.right-area {
    padding: 0 0 0 1em;
}

.firstParagraph {
    margin-top: 3em;
}

.footer {
    margin: 0.5em;
}

.scroll-auto {
    overflow: auto;
}

/**** Sections ****/

/* quick facts */

.quickfacts h2 {
    padding-top: 0;
    margin-top: 0;
}

.quickfact-number {
    font-size: 300%;
    color: #c0c0c0;
    font-style: italic;
}

/* Slider Gallery */
.gallery-slider {
    display: block;
    height: 275px;
    margin-top: 0.5em;
    overflow: hidden;
    position: relative;
    width: 485px;
}

.gallery-slider-wrapper {
    border: 1px solid #000;
    box-shadow: 2px 2px 4px #000;
    height: 97%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

#content .gallery-slider-wrapper-inner,
.gallery-slider-wrapper-inner {
    margin: 0;
    margin-left: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#content .gallery-slider-wrapper-inner li,
.gallery-slider-wrapper-inner li {
    float: left;
    margin-bottom: 0px;
    overflow: hidden;
    padding: 0px;
    position: relative;
}

.gallery-slider-content-outer {
    position: relative;
}

.gallery-slider .button-next, .gallery-slider .button-prev {
    color: #FFF;
    cursor: pointer;
    display: block;
    height: 100%;
    position: absolute;
    text-indent: -999px;
    top: 0;
    width: 32px;
    z-index: 40;
}

.gallery-slider .button-prev {
    background: url(../images/button-gallery-previous.png) no-repeat left center;
    left: 0px;
    opacity: 0.8;
}

.gallery-slider .button-next {
    background: url(../images/button-gallery-next.png) no-repeat right center;
    right: 9px;
    opacity: 0.8;
}

.gallery-slider .button-next:hover,
.gallery-slider .button-prev:hover {
    opacity: 1;
}

/* Threat status */
.threat-status-indicator div {
    padding: 1em;
}

.threat-status-indicator .text-right {
    padding: 0;
}

.threat-status-indicator .footer {
    padding: 0;
}

.threat-status-indicator .roundedCorners {
    border: 2px solid #4B4B4B;
    border-radius: 10px;
}

#content .threat-status-indicator p {
    margin-bottom: 0;
    line-height: 1.2em;
}

/* Unknown and Data Deficient threat status */
.threat-status-un, .threat-status-dd {
    background-color: #D4D8D7;
    color: #000;
}

/* Least Concern threat status */
.threat-status-lc {
    background-color: #F9DFDE;
    color: #000;
}

/* Near Threatened threat status */
.threat-status-nt {
    background-color: #F2BFBB;
    color: #000;
}

/* Vulnerable threat status */
.threat-status-vu {
    background-color: #EE9B93;
    color: #000;
}

#content .threat-status-vu a {
    color: #810046;
}

/* Endangered threat status */
.threat-status-en {
    background-color: #E2665C;
    color: #000;
}

/* Critically endangered threat status */
.threat-status-cr {
    background-color: #D52C27;
    color: #FFF;
}

#content .threat-status-cr a {
    color: #FFF;
}

#content .threat-status-cr a:hover {
    color: #FFD !important; /* important because of override from base.css */
}

/* Extinct in the Wild threat status */
.threat-status-ew {
    background-color: #A21D22;
    color: #FFF;
}

#content .threat-status-ew a {
    color: #FFF;
}

/* Extinct threat status */
.threat-status-ex {
    background-color: #000;
    color: #FFF;
}

#content .threat-status-ex a {
    color: #FFF;
}

.threat-status-region {

}

.threat-status-label {
    font-weight: bold;
}

.threat-status-source {

}

.reported-areas .reported-areas-map {
    margin-top: 2em;
}

/* Table definition */
.threat-status-indicator .table-definition {
    padding: 0;
}

.table-definition-target {
    background: url("http://www.eea.europa.eu/accordion_down.png") no-repeat scroll 94% center #346F83;
    padding-right: 2.5em;
}

.table-definition-target.opened {
    background: url("http://www.eea.europa.eu/accordion_up.png") no-repeat scroll 94% center #346F83;
}


/**** Overrides ****/

#portal-breadcrumbs {
    font-weight: bold;
}

.listing th a, .listing th a:link, .listing th a:visited {
    color: #FFF !important;
}

.sortable th span,
.listing th span {
    display: inline;
}

.sortable th a:link, .listing th a:link {
    float: left;
    *float: none;
}

.overlay {
    background-color: #FFF;
    padding: 1em;
    border: 1px solid #005e7d;
}

.overlay table {
    font-size: 110%;
}

.overlay-title {
    font-size: 175%;
}

.overlay-body {
    max-height: 500px;
    max-width: 600px;
    overflow: auto;
}

/**** Temporary overrides ****/

/* styles added temporarily from jquerytools.overlays since right now they
   are disabled on production */

div.overlay {
    width: auto;
    height: auto;
    /* initially overlay is hidden */
    display: none;
    /* some padding to layout nested elements nicely  */
    margin: 1em;
    z-index: 99;
}

div.overlay-iframe,
div.overlay-ajax {
    width: 60%;
    min-height: 100px;
    z-index: 99; /* overlays should be above everything */
}

div.overlay-iframe {
    height: 60%;
}

/* default close button positioned on upper-left corner */
div.overlaybg div.close,
div.overlay .close {
    background-image: url(http://eea.europa.eu/++resource++plone.app.jquerytools.pb_close.png);
    position: absolute;
    left: -14px;
    top: -14px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.pb-ajax {
    overflow-y: auto;
}

.pb-ajax, .pb-image {
    background-color: #fff;
    border: 1px solid #999;
    white-space: normal;
    box-shadow: 0 0 3em 0.5em #666;
    -moz-box-shadow: 0 0 3em 0.5em #666;
    -webkit-box-shadow: 0 0 3em #666;
}

.pb-ajax > div {
    width: 92%;
    padding: 1em;
}

.pb-ajax .documentActions {display:none}

div.overlay .close span {
    display: block;
    height: 1px;
    margin: -1px 0 0 -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

div.overlay textarea { width: 100%; }

/* Hide form elements that don't make sense within an overlay. */
div.overlay .link-parent { display: none; }
div.overlay #createGroup legend { display: none; }
div.overlay #createGroup fieldset { border: none; }

/* lets play nice with paragraphs, links, tabbed pages in overlay e.g. when plone.openid is installed */
div.overlay p {
    margin-bottom: 1em;
}
div.overlay label {
    margin-bottom: 0.25em;
}
div.overlay a:hover {
    color: #75ad0a;
}
div.overlay a.selected {
    color: #000000;
}
div.overlay .formTab {
    margin-right:1em;
    font-weight: bold;
}
div.overlay .formTab.lastFormTab {
    margin-right:0em;
}
div.overlay .formControls a {
    display: block;
    margin: 0.75em;
}
