/* Base classes */
h2 {
  padding-top: 1em;
}

.large-text {
  font-size: 300%;
}

.medium-text {
  font-size: 200%;
}

.small-text {
  font-size: 150%;
}

.x-small-text {
  font-size: 120%;
}
.bold {
  font-weight: bold;
}

.bold p {
  font-size: 110%;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.contain-float {
  overflow: hidden;
}

.inline-block, #content .inline-block {
  display: inline-block;
}

.left-area, .right-area {
  width: 48%;
  float: left;
  margin: 0 0;
  padding: 0 1em 1em 0;
}

.right-area {
  padding: 0 0 0 1em;
}

.firstParagraph {
  margin-top: 3em;
}

.footer {
  margin: 0.5em;
}

.scroll-auto {
  overflow: auto;
}

.italics {
  font-style: italic;
}


/**** Sections ****/

/* quick facts */
.quickfacts h2 {
  padding-top: 0;
  margin-top: 0;
}

.quickfact-number {
  font-size: 300%;
  color: #c0c0c0;
  font-style: italic;
}


/* Slider Gallery */
.species .gallery .panel .overlay-background {
  display: none;
}

.species .gallery .panel-overlay > h3 {
  color: #FFF;
  text-shadow: none;
}


/* Threat status */
.threat-status-indicator a {
  display: block;
}

.threat-status-indicator div {
  padding: 1em;
}

.threat-status-indicator .text-right {
  padding: 0;
}

.threat-status-indicator .footer {
  padding: 0;
}

.threat-status-indicator .roundedCorners {
  border: 2px solid #4B4B4B;
  border-radius: 10px;
}

#content .threat-status-indicator p {
  margin-bottom: 0;
  line-height: 1.2em;
}

/* Not Evaluated threat status */
.threat-status-ne {
  background-color: #FFF;
  border: 1px solid #DDD;
}

/*  Data Deficient threat status */
.threat-status-dd {
  background-color: #D4D8D7;
}

/* Not applicable threat status */
.threat-status-na {
    background-color: #C1BCA5;
}

/* Least Concern threat status */
.threat-status-lc {
  background-color: #61C250;
}

/* Near Threatened threat status */
.threat-status-nt {
  background-color: #C9DD03;
}

/* Vulnerable threat status */
.threat-status-vu {
  background-color: #FAE700;
}

/* Endangered threat status */
.threat-status-en {
  background-color: #FF7F45;
}

/* Critically endangered threat status */
.threat-status-cr {
  background-color: #D52B1E;
}

/* Regionally Extinct threat status */
.threat-status-re {
    background-color: #9B4F96;
}

/* Extinct in the Wild threat status */
.threat-status-ew {
  background-color: #53284F;
}

/* Extinct threat status */
.threat-status-ex {
  background-color: #000;
}

/* set back as default for the threat status indicators */
#content .threat-status-indicator,
#content .threat-status-indicator a {
  color: #000;
}

#content .threat-status-indicator a {
  text-decoration: underline;
}

/* set white for threat statuses with darker backgrounds */
#content .threat-status-cr a,
#content .threat-status-ew a,
#content .threat-status-ex a,
#content .threat-status-re a {
  color: #FFF;
}

/* no border for hover state of threat status */
#content .threat-status-indicator a:hover {
  text-decoration: none;
}

/* hover state change for status level from which the default eea hover color
   is too strong */
#content .threat-status-cr a:hover,
#content .threat-status-ew a:hover,
#content .threat-status-ex a:hover,
#content .threat-status-re a:hover {
  color: #F9DFDE !important;
}

.threat-status-label {
  font-weight: bold;
}

.reported-areas .reported-areas-map {
  margin-top: 2em;
}

/* Table definition */
.threat-status-indicator .table-definition {
  padding: 0;
}

.table-definition-target {
  background: url("http://www.eea.europa.eu/accordion_down.png") no-repeat scroll 94% center #346F83;
  padding-right: 2.5em;
}

.table-definition-target.opened {
  background: url("http://www.eea.europa.eu/accordion_up.png") no-repeat scroll 94% center #346F83;
}


/**** Overrides ****/
#portal-breadcrumbs {
  font-weight: bold;
}

.listing th a, .listing th a:link, .listing th a:visited {
  color: #FFF !important;
}

.sortable th span,
.listing th span {
  display: inline;
}

.sortable th a:link, .listing th a:link {
  float: left;
   /* *float: none; */   /*no IE hacks, please*/
}

.overlay {
  background-color: #FFF;
  padding: 1em;
  border: 1px solid #005e7d;
}

.overlay table {
  font-size: 110%;
}

.overlay-title {
  font-size: 175%;
}

.overlay-body {
  max-height: 500px;
  max-width: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5em 1em 0 0em;
}

#content .overlay-body table {
  padding: 0 0.1em 0 0;
}

/**** Temporary overrides ****/

/* styles added temporarily from jquerytools.overlays since right now they
   are disabled on production */
div.overlay {
  width: auto;
  height: auto;
  /* initially overlay is hidden */
  display: none;
  /* some padding to layout nested elements nicely  */
  margin: 1em;
  z-index: 999;
}

div.overlay-iframe,
div.overlay-ajax {
  width: 60%;
  min-height: 100px;
  z-index: 999; /* overlays should be above everything */
}

div.overlay-iframe {
  height: 60%;
}

/* default close button positioned on upper-left corner */
div.overlaybg div.close,
div.overlay .close {
  background-image: url(http://eea.europa.eu/++resource++plone.app.jquerytools.pb_close.png);
  position: absolute;
  left: -14px;
  top: -14px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.pb-ajax {
  overflow-y: auto;
}

.pb-ajax, .pb-image {
  background-color: #fff;
  border: 1px solid #999;
  white-space: normal;
  box-shadow: 0 0 3em 0.5em #666;
  -moz-box-shadow: 0 0 3em 0.5em #666;
  -webkit-box-shadow: 0 0 3em #666;
}

.pb-ajax > div {
  width: 92%;
  padding: 1em;
}

.pb-ajax .documentActions {display:none}

div.overlay .close span {
  display: block;
  height: 1px;
  margin: -1px 0 0 -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}

div.overlay textarea { width: 100%; }

/* Hide form elements that don't make sense within an overlay. */
div.overlay .link-parent { display: none; }
div.overlay #createGroup legend { display: none; }
div.overlay #createGroup fieldset { border: none; }

/* lets play nice with paragraphs, links, tabbed pages in overlay e.g. when plone.openid is installed */
div.overlay p {
  margin-bottom: 1em;
}
div.overlay label {
  margin-bottom: 0.25em;
}
div.overlay a:hover {
  color: #75ad0a;
}
div.overlay a.selected {
  color: #000000;
}
div.overlay .formTab {
  margin-right:1em;
  font-weight: bold;
}
div.overlay .formTab.lastFormTab {
  margin-right:0em;
}
div.overlay .formControls a {
  display: block;
  margin: 0.75em;
}


/* galleryView temporary overrides */
.gallery .nav-next,
.gallery .nav-prev,
.gallery .nav-next-overlay,
.gallery .nav-prev-overlay {
  position: absolute;
  z-index: 601;
  cursor: pointer;
  opacity: 0.75;
}

.gallery .nav-next:hover,
.gallery .nav-prev:hover {
  opacity: 1;
}

.gallery .nav-next {
  right: 10px;
}

.gallery .nav-prev {
  left: 10px;
}

.gallery .nav-prev-overlay,
.gallery .nav-next-overlay {
  z-index: 601;
  opacity: 0.75;
}

.gallery .nav-next-overlay {
  right: 0;
}

.gallery .nav-prev-overlay {
  left: 0;
}

/* EUNIS navigation proposal 4  -  SONIA */
#portal-columns {
  overflow: hidden;
}

#portal-column-two {
  max-width: 200px;
  min-width: 120px;
}

.column-area {
  width: 79%;
}

.portlet {
  background: rgb(243, 243, 243);
  margin-bottom: 1em;
  padding: 1.9em;
  border-radius: 0px;
  box-shadow: 0px 0px 0px;
}

.gallery {
  visibility: visible;
}

.to-right {
  float: right;
}

.quick-facts {
  overflow:hidden;
}

.left-area, .right-area {
  width: 48%;
}

.legend-color {
  display: inline-block;
  height: 10px;
  width: 10px;
  /*border: 1px solid black;*/
}

.legend-table td {
  padding-right: 6px;
  border-left: 1px solid #DDD;
  padding-left: 6px;
}

.legend-table {
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
}

/* Homepage improvements #17701 */
.homepage-content {
  position: relative;
  height: 470px;
}

#portal-column-content #content {
  margin-top: 0;
}

.homepage-content #scientificName,
.homepage-content #searchString,
.homepage-content #englishName {
  height: 28px;
  min-width: 380px;
}

.homepage-content #scientificName {
  width: 442px;
}

.homepage-content #searchString {
  width: 398px;
}

.homepage-content #englishName {
  width: 463px;
}

.homepage-content .portlet-label {
  display: inline-block;
  font-size: 14px;
}

.homepage-content .figure-right .figure {
  margin-top: 20px;
}

#content .portlet a.search-tools-link {
  margin-top: 5px;
  margin-left: 3px;
  display: inline-block;
}

.homepage-content .search_details {
  display: inline-block;
  clear: none;
  width: 509px;
  margin-bottom: 0;
}

.homepage-content .search_details.not-inline {
  display: block;
}

.homepage-content .species_qs,
.homepage-content .habitats_qs,
.homepage-content .sites_qs {
  width: 600px;
}

.homepage-content .combined-search-area {
  padding: 20px;
}

.documentFirstHeading {
  padding-right: 0;
}


/* IUCN Red List on species profile #19228 */
#content .threat-status-indicator .roundedCorners {
  border-width: 1px;
  border-color: #999;
}

#content .iucn-red-list-area fieldset {
  border-color: #DDD;
}

#content .threat-status-indicator .threat-status-label {
  margin-bottom: 10px;
}

.iucn-red-list-area .threat-status-region {
  font-size: 12px;
}

.map-border {
    border: 1px solid #999;
}