#eunistree
{
	font-family: verdana, helvetica, sans-serif;
	font-size: 0.9em;
}

#eunistree a
{
	color: #000;
	text-decoration: none;
	font-size: 0.9em;
	font-family: verdana, helvetica, sans-serif;
}

#eunistree img
{
	border: 0px;
	width: 19px;
	height: 16px;
}

ul.eunistree {
	margin: 1em 0;
	list-style-image: none;
	list-style: none;
	padding-left: 2em;
}