/**
dark    : #000000
medium  : #000000
light   : #B8D6E8
**/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  background-color: #FFFFFF;
  margin-left: 20px;
}

table {
  font-family: arial, sans-serif;
  font-size: small;
}

form {
  margin: 0px;
}

.fontSmall {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
}

.fontNormal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.fontMedium {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.fontLarge {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.fontBold {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
}

.textVersion {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: #000000;
}

.inputTextField {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: #000000;
  border: 1px solid #000000;
}

.inputTextFieldInlineEditor
{
  font-family: "Courier New", serif;
  background-color: white;
  color: #000000;
  border: 1px solid #000000;
}

.inputTextField200 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: #000000;
  border: 1px solid #000000;
  width: 200px;
}

.textInputColorMain {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color: white;
  color: #000000;
  border: 1px solid #000000;
  width: 150px;
}

.inputTextFieldCenter {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border: 1px solid #000000;
  text-align: center;
  color: #000000;

}

.bottomCellLine {
  border-bottom-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-color: #AAAAAA;
}

a:link {
  color: #000000;
  text-decoration: underline;
  font-size: small;
}

a:visited {
  color: #000000;
  text-decoration: underline;
  font-size: small;
}

a:active {
  color: #000000;
  text-decoration: underline;
  font-size: small;
}

a:hover {
  color: #FFFFFF;
  background-color: #000000;
  font-size: small;
}

a.tab:link {
  padding-left: 5px;
  padding-right: 5px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

a.tab:visited {
  padding-left: 5px;
  padding-right: 5px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

a.tab:active {
  padding-left: 5px;
  padding-right: 5px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

a.tab:hover {
  padding-left: 5px;
  padding-right: 5px;
  color: #FFFFFF;
  text-align: center;
}

a.menu_link:link {
  font-family: verdana, helvetica;
  font-size: x-small;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
}

a.menu_link:visited {
  font-family: verdana, helvetica;
  font-size: x-small;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
}

a.menu_link:active {
  font-family: verdana, helvetica;
  font-size: x-small;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
}

a.menu_link:hover {
  font-family: verdana, helvetica;
  font-size: x-small;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: underline;
}

.menu_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
}

.breadcrumbtrailNormalFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-decoration: none;
  color: black;
}

a.breadcrumbtrail:link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-decoration: none;
}

a.breadcrumbtrail:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-decoration: none;
}

a.breadcrumbtrail:active {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-decoration: none;
}

a.breadcrumbtrail:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-decoration: underline;
}

.footer_text {
  font-size: small;
}

a.footerLink:link {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: normal;
  font-size: small;
}

a.footerLink:visited {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: normal;
  font-size: small;
}

a.footerLink:active {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: normal;
  font-size: small;
}

a.footerLink:hover {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-weight: normal;
  font-size: small;
}

.dynamic_content {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  display: block;
}

.horizontal_line {
  width: 100%;
  height: 1px;
  background-color: #000000
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
  padding: 0px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
  background-color: white;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
  background-color: white;
  width: 100%;
  font-style: normal;
  font-variant: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title, h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  margin: 0px;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
  background-color: white;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
  background-color: white;
  width: 100%;
  font-style: normal;
  font-variant: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

.grey_rectangle_bold {
  background-color: #FFFFFF;
  font-weight: bold;
  width: 100%;
}

.grey_rectangle {
  background-color: #FFFFFF;
  width: 100%;
}

.resultHeader {
  color: white;
  background-color: #000000;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.resultHeaderForFactsheet {
  color: white;
  background-color: #FFFFFF;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.resultHeader a:link {
  color: white;
  text-decoration: none;
}

.resultHeader a:visited {
  color: white;
  text-decoration: none;
}

.resultHeader a:active {
  color: white;
  text-decoration: none;
}

.resultHeader a:hover {
  color: white;
  text-decoration: underline;
}

.resultCell {
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 2px;
}

a.announcement:link {
  font-size: medium;
  color: #000000;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
}

a.announcement:active {
  font-size: medium;
  color: #000000;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
}

a.announcement:visited {
  font-size: medium;
  color: #000000;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
}

a.announcement:hover {
  font-size: medium;
  color: #000000;
  background-color: white;
  text-decoration: underline;
  font-weight: bold;
}

th {
  text-align: left;
  color: white;
  background-color: #000000;
}

.editContent {
  border: 1px solid red;
}

.mainHeader180 {
  background-color: #000000;
  color: white;
  padding-left: 5px;
  width: 180px;
}

.mainHeader300 {
  background-color: #000000;
  color: white;
  padding-left: 5px;
  width: 300px;
}

/* Tabbed menus  */
#tabbedmenu {
  float: left;
  width: 100%;
  border-bottom: thin solid #FFFFFF;
  font-size: x-small;
  line-height: normal;
}

#tabbedmenu ul {
  margin: 0;
  padding: 2px 2px 0;
  list-style: none;
  list-style-image: none;
}

#tabbedmenu li {
  float: left;
  margin: 0;
  padding: 0 0 0 9px;
  white-space: nowrap;
}

#tabbedmenu a {
  display: block;
  text-decoration: none;
  font-weight: normal;
  color: black;
  padding: 5px 15px 2px 3px;
}

#tabbedmenu #currenttab {
}

#tabbedmenu #currenttab a {
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 2px;
}

#tabbedmenu #currenttab span {
  display: block;
  text-decoration: none;
  font-weight: normal;
  padding: 5px 15px 2px 3px;
}

.indexQS {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  background-color: white;
  color: #000000;
  border: 1px solid #000000;
}

#tab {
  width: 300px;
  height: 300px;
  overflow: auto;
}

#container {
  width: 630px;
  margin: 0px;
  background-color: white;
  color: #000000;
  line-height: 100%;
}

#leftnav {
  float: left;
  width: 175px;
  margin-right: 20px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
}

#rightnav {
  /*position: relative;
  float: left;
  width: 215px;*/
  margin-bottom: 10px;
}

#content {
  width : 630px;
  text-align : left;
}

#content_index {
  float: left;
  width: 305px;
  margin-right: 20px;
  margin-bottom: 10px;
}

#leftnav p, #rightnav p {
  margin: 0 0 1em 0;
}

.mainlabel180_1 {
	background-color: #000000;
	color: white;
	height: 20px;
	padding-top:5px;
	vertical-align:middle;
	text-indent: 10px;
}

#mainlabel180_2 {
  background-color: #000000;
  color: white;
  padding-left: 5px;
  height: 20px;
  padding-top:5px;
  vertical-align:middle;
}

#mainlabel250 {
 	font-size: small;
	color: #000000;
	font-weight: bold;
	padding: 7px 0px 23px 0px;
}

.mainHeader180 {
  background-color: #000000;
  color: white;
  padding-left: 5px;
  width: 180px;
}

.mainHeader300 {
  background-color: #000000;
  color: white;
  padding-left: 5px;
  width: 300px;
}

.separator {
  display: block;
  height: 10px;
  border: none;
}

.brClear
{
  clear : both;
}

#overDiv
{
  z-index:1000;
  visibility: hidden;
  position: absolute;
}

.submit_buttons
{
  width : 100%;
  text-align : right;
}

.coordinates
{
  font-family : "Courier New";
  font-size : x-small;
}

.grey_cell {
  background-color: #FFFFFF;
}

#header {
  width : 100%;
  height : 20px;
  overflow:hidden;
}

#header span {
  width : 100%;
  height : 20px;
}

.main_menu {
  border-collapse: collapse;
  border-color : #000000;
  background-color : #000000;
  color : white;
}

.languageTextField {
  font-family: arial, sans-serif;
  background-color: #FFFFFF;
  color: black;
  border: 1px solid black;
  position :relative;
  top : 38px;
}

#bodydiv
{
  width: 100%;
  text-align: center;
}

#bodydiv2
{
  width: 100%;
  text-align: left;
}

/* */
.between {
	width: 100%;
	background-color: white;
	height: 15px;
}

#leftnav ul {
	width: 100%;
	margin:0;
	padding: 10px 0;
	list-style:none;
	border-top: 2px solid white;
}
#leftnav li {
	margin-left: 15px;
	margin-bottom: 5px;
	margin-top: 10px;
	line-height: 1.3em;
}

.search_style {
	float: right;
	text-align: right;
	vertical-align: middle;
}

.search_details {
	font-family: Arial, Helvetica, sans-serif;
	clear: both;
	width: 100%;
	margin-top: 3px;
	margin-bottom: 7px;
	font-size: 95%;
}

.footer_line {
	height: 21px;
	text-align:center;
}

.grey_cell {
  background-color: #FFFFFF;
}

.noshow {
  display : none;
}

.boldUnderline {
    font-weight :bold;
    color: #000000;
    text-decoration:underline;
}

#input disabled {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
}

.inputTextField[disabled] {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: #FFFFFF;
  border: 1px solid #000000;
}

.footerprint {
  display: none;
}

.headerstaticprint {
  display: none;
}

.headerdynamicprint {
  display: none;
}

.headerlanguageprint {
  display: none;
}

.headertextprint {
  text-align : left;
}

.imageprint {
  display: none;
}
